### EDA

In [33]:
import os
import numpy as np
import pandas as pd 
import matplotlib.pyplot as plt
import chardet
from sklearn.model_selection import KFold, train_test_split, cross_val_score 
from sklearn.linear_model import SGDClassifier, LogisticRegression
from sklearn.metrics import roc_auc_score, auc, roc_curve
import warnings
warnings.filterwarnings('ignore')

data_root = "./data/"

In [34]:
dfTrain = pd.read_csv(os.path.join(data_root, 'train_offline.csv'))
dfTrain.head()

,User_id,Merchant_id,Coupon_id,Discount_rate,Distance,Date_received,Date
0,1439408,2632,NaN,NaN,0.0,NaN,20160217.0
1,1439408,2632,8591.0,20:1,0.0,20160217.0,NaN
2,1439408,2632,1078.0,20:1,0.0,20160319.0,NaN
3,1832624,3381,7610.0,200:20,0.0,20160429.0,NaN
4,2029232,3381,11951.0,200:20,1.0,20160129.0,NaN

In [35]:
dfTest = pd.read_csv(os.path.join(data_root, 'test_offline.csv'))
dfTest.head() # It belongs to classification problem due to label values

,User_id,Merchant_id,Coupon_id,Discount_rate,Distance,Date_received,Date,label,to_testset
0,1439408,4663,11002.0,150:20,1.0,20160528.0,NaN,0,True
1,1439408,2632,8591.0,20:1,0.0,20160613.0,NaN,0,True
2,1439408,2632,NaN,NaN,0.0,NaN,20160516.0,-1,True
3,1439408,2632,8591.0,20:1,0.0,20160516.0,20160613.0,0,True
4,2029232,450,1532.0,30:5,0.0,20160530.0,NaN,0,True

In [38]:
f = open(os.path.join(data_root, 'column_description.csv'), 'rb')
print(chardet.detect(f.read(100))) # check encoding
dfColDesc = pd.read_csv(os.path.join(data_root, 'column_description.csv'), encoding='big5')
dfColDesc.head()

{'encoding': 'Big5', 'confidence': 0.99, 'language': 'Chinese'}

          Column                                        Description
0        User_id                                              用戶 ID
1    Merchant_id                                              商家 ID
2      Coupon_id                             優惠券 ID (null 代表無優惠券消費)
3  Discount_rate                  優惠券折價：[0,1] 代表折扣率；x:y 代表滿 x 減 y 元
4       Distance  用戶經常活動地點離商家最近距離 (x * 500 公尺), 0 表示低於 500 公尺, 1...

In [32]:
dfColDescEn = pd.read_csv(os.path.join(data_root, 'column_description_en.csv'))
dfColDescEn.head()

          Column                                        Description
0        User_id                                            User id
1    Merchant_id                                   shop/merchant id
2      Coupon_id  Coupon id. If it is null, it means the transac...
3  Discount_rate  Discount rate, [0,1] means ratio of discount. ...
4       Distance  Distance between users' most active regions an...