### Pandas

In [1]:
import numpy as np 
import pandas as pd 
import warnings
warnings.filterwarnings('ignore')

In [2]:
df = pd.DataFrame(np.random.randint(0, 100, size=(7, 2)), columns = ['first', 'second'])
df

   first  second
0     43      54
1     19      22
2     74      66
3     15      86
4     79      39
5     55       7
6     19      21

In [7]:
df.apply(np.sqrt)

      first    second
0  6.557439  7.348469
1  4.358899  4.690416
2  8.602325  8.124038
3  3.872983  9.273618
4  8.888194  6.244998
5  7.416198  2.645751
6  4.358899  4.582576

In [12]:
df.apply(np.sum, axis = 1)

0     97
1     41
2    140
3    101
4    118
5     62
6     40
dtype: int64

[Pandas的Apply函數-Pandas中最好用的函數](https://blog.csdn.net/qq_19528953/article/details/79348929)

[pandas.DataFrame.apply基本用法](https://riptutorial.com/zh-TW/pandas/example/23648/pandas-dataframe-apply%E5%9F%BA%E6%9C%AC%E7%94%A8%E6%B3%95)